.animate-float {
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(20px); }
  100% { transform: translateY(0px); }
}

.custom-shape-divider-bottom-1695048439 {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1695048439 svg {
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
}

.shape-fill {
  fill: #8400ff;
  padding: 0 !important;
  margin-top: -1px !important;
}

@media (max-width: 500px) {
  .custom-shape-divider-bottom-1695048439 { display: none; }
}


